{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Adminpro</title>
    <base href="/">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/img/apple-icon.png' %}" />
    <link rel="icon" type="image/png" href="{% static '/img/favicon.png' %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Material Dashboard PRO by Creative Tim | Premium Bootstrap Admin Template</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://www.creative-tim.com/product/material-dashboard-pro" />
    <!--  Social tags      -->
    <meta name="keywords" content="material dashboard, bootstrap material admin, bootstrap material dashboard, material design admin, material design, creative tim, html dashboard, html css dashboard, web dashboard, freebie, free bootstrap dashboard, css3 dashboard, bootstrap admin, bootstrap dashboard, frontend, responsive bootstrap dashboard, premiu material design admin">
    <meta name="description" content="Material Dashboard PRO is a Premium Material Bootstrap Admin with a fresh, new design inspired by Google's Material Design.">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Material Dashboard PRO by Creative Tim | Premium Bootstrap Admin Template">
    <meta itemprop="description" content="Material Dashboard PRO is a Premium Material Bootstrap Admin with a fresh, new design inspired by Google's Material Design.">
    <meta itemprop="image" content="///s3.amazonaws.com/creativetim_bucket/products/51/opt_mdp_thumbnail.jpg">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@creativetim">
    <meta name="twitter:title" content="Material Dashboard PRO by Creative Tim | Premium Bootstrap Admin Template">
    <meta name="twitter:description" content="Material Dashboard PRO is a Premium Material Bootstrap Admin with a fresh, new design inspired by Google's Material Design.">
    <meta name="twitter:creator" content="@creativetim">
    <meta name="twitter:image" content="///s3.amazonaws.com/creativetim_bucket/products/51/opt_mdp_thumbnail.jpg">
    <!-- Open Graph data -->
    <meta property="fb:app_id" content="655968634437471">
    <meta property="og:title" content="Material Dashboard PRO by Creative Tim | Premium Bootstrap Admin Template" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.creative-tim.com/product/material-dashboard-pro" />
    <meta property="og:image" content="///s3.amazonaws.com/creativetim_bucket/products/51/opt_mdp_thumbnail.jpg" />
    <meta property="og:description" content="Material Dashboard PRO is a Premium Material Bootstrap Admin with a fresh, new design inspired by Google's Material Design." />
    <meta property="og:site_name" content="Creative Tim" />
    <!-- Bootstrap core CSS     -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="{% static '/css/material-dashboard.css' %}" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static '/css/demo.css' %}" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="{% static '/css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{% static '/css/google-roboto-300-700.css' %}" rel="stylesheet" />
    
</head>



<div class="wrapper">
    
    <!--SideBar-->
    <div class="sidebar"   data-active-color="info" data-background-color="black" data-image="{% static '/img/sidebar-1.jpg' %}">
        
        <div class="logo">
            <a href="http://http://www.umariana.edu.co/" class="simple-text">
                Biblioteca - Unimar
            </a>
        </div>
        <div class="logo logo-mini">
            <a href="http://http://www.umariana.edu.co/" class="simple-text">
                BUMAR
            </a>
        </div>
        <div class="sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img src="{% static '/img/faces/avatar.png' %}" />
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        Andres Moreno
                        <b class="caret"></b>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="#">Mi Perfil</a>
                            </li>
                            <li>
                                <a href="#">Editar Perfil</a>
                            </li>
                            <li>
                                <a href="#">Salir</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <ul class="nav">
                <li>
                    <a data-toggle="collapse" href="#Recepcion">
                        <i class="material-icons">bookmarks</i>
                        <p>Editoriales
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="Recepcion">
                        <ul class="nav">
                            <li>
                                <a  href="{% url 'lista_editorial'%}">Lista de Editoriales</a>
                            </li>
                            <li>
                                <a href="{% url 'editorial_create'%}">Crear Editorial</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#Estudiantes">
                        <i class="material-icons">book</i>
                        <p>Libros
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="Estudiantes">
                        <ul class="nav">
                              <li>
                                <a  href="{% url 'lista_libro'%}">Lista de Libros</a>
                            </li>
                            <li>
                                <a href="{% url 'libro_create' %}">Crear Libro</a>
                            </li>
                            
                            
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
        
        <!--Navbar HEADER-->
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-minimize">
                        <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                            <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                            <i class="material-icons visible-on-sidebar-mini">view_list</i>
                        </button>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> Biblioteca Universidad Mariana </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            
                            <li>
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                            </li>
                            <li class="separator hidden-lg hidden-md"></li>
                        </ul>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group form-search is-empty">
                                <input type="text" class="form-control" placeholder="Buscar">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="content">
                {% block content %}
                
                {%  endblock %}
                
            </div>
            
         
        </div>
     
    </div>
    
    <!--Plugin-->
    <div class="fixed-plugin">
        <div class="dropdown show-dropdown">
            <a href="#" data-toggle="dropdown">
                <i class="fa fa-cog fa-2x"> </i>
            </a>
            <ul class="dropdown-menu">
                <li class="header-title"> Configuración Visual</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger active-color">
                        <div class="badge-colors text-center">
                            <span class="badge filter badge-purple" data-color="purple"></span>
                            <span class="badge filter badge-blue" data-color="blue"></span>
                            <span class="badge filter badge-green" data-color="green"></span>
                            <span class="badge filter badge-orange" data-color="orange"></span>
                            <span class="badge filter badge-red" data-color="red"></span>
                            <span class="badge filter badge-rose active" data-color="rose"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="header-title">Fondo</li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger background-color">
                        <div class="text-center">
                            <span class="badge filter badge-white" data-color="white"></span>
                            <span class="badge filter badge-black active" data-color="black"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger">
                        <p>Minimizar barra de servicios</p>
                        <div class="togglebutton switch-sidebar-mini">
                            <label>
                                <input type="checkbox" unchecked="">
                            </label>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger">
                        <p>Desactivar fondo</p>
                        <div class="togglebutton switch-sidebar-image">
                            <label>
                                <input type="checkbox" checked="">
                            </label>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li class="header-title">Imagenes</li>
                <li class="active">
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="{% static '/img/sidebar-1.jpg' %}" alt="" />
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="{% static '/img/sidebar-2.jpg' %}" alt="" />
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="{% static '/img/sidebar-3.jpg' %}" alt="" />
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="{% static '/img/sidebar-4.jpg' %}" alt="" />
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
    
    
    
    <script src="{% static '/js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/material.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/perfect-scrollbar.jquery.min.js' %}" type="text/javascript"></script>
    <!-- Forms Validations Plugin -->
    <script src="{% static '/js/jquery.validate.min.js' %}"></script>
    <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
    <script src="{% static '/js/moment.min.js' %}"></script>
    <!--  Charts Plugin -->
    <script src="{% static '/js/chartist.min.js' %}"></script>
    <!--  Plugin for the Wizard -->
    <script src="{% static '/js/jquery.bootstrap-wizard.js' %}"></script>
    <!--  Notifications Plugin    -->
    <script src="{% static '/js/bootstrap-notify.js' %}"></script>
    <!--   Sharrre Library    -->
    <script src="{% static '/js/jquery.sharrre.js' %}"></script>
    <!-- DateTimePicker Plugin -->
    <script src="{% static '/js/bootstrap-datetimepicker.js' %}"></script>
    <!-- Vector Map plugin -->
    <script src="{% static '/js/jquery-jvectormap.js' %}"></script>
    <!-- Sliders Plugin -->
    <script src="{% static '/js/nouislider.min.js' %}"></script>
    <!--  Google Maps Plugin    -->
    <!--<script src="{% static '/js/jquery.select-bootstrap.js' %}"></script>-->
    <!-- Select Plugin -->
    <script src="{% static '/js/jquery.select-bootstrap.js' %}"></script>
    <!--  DataTables.net Plugin    -->
    <script src="{% static '/js/jquery.datatables.js' %}"></script>
    <!-- Sweet Alert 2 plugin -->
    <script src="{% static '/js/sweetalert2.js' %}"></script>
    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="{% static '/js/jasny-bootstrap.min.js' %}"></script>
    <!--  Full Calendar Plugin    -->
    <script src="{% static '/js/fullcalendar.min.js' %}"></script>
    <!-- TagsInput Plugin -->
    <script src="{% static '/js/jquery.tagsinput.js' %}"></script>
    <!-- Material Dashboard javascript methods -->
    <script src="{% static '/js/material-dashboard.js' %}"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="{% static '/js/demo.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            //md.initSliders()
            demo.initFormExtendedDatetimepickers();
        });
    </script>
    
  
    
</body>


</html>